@use 'custom' as *;

// card grid for fix height

  .card-grid-lg{
    height: 460px;
  }
  .card-grid-sm{
    height: calc(280px - calc(var(--bs-gutter-y) / 2));
  }
@include media-breakpoint-down(md) {
  .card-grid .card-grid-lg{
    height: 400px;
  }
}

.card{
  border-radius: 30px;
}
.card-ct{
  border-radius: 30px;
}
.card-ct-low{
  border-radius: 15px;
}
.card-ct-lg{
  border-radius: 40px;
}

// card size

.card-md{
  height: 466px;
}
// card background color

.card-bg-img{
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center;
  overflow: hidden;
  border-radius: 0.7rem !important;
  
}
.text-reset{
  text-decoration: none;
}
// card border

.border-light{
  border-color: white;
}
.border-none{
  border: none;
}

// text color

.text-primary{
  color: $primary;
}
.popins .card-title{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: $dark;
}

// card shadow
.card-shadow {
  box-shadow: 0 0.46875rem 2.1875rem rgb(90 97 105 / 10%), 0 0.9375rem 1.40625rem rgb(90 97 105 / 10%), 0 0.25rem 0.53125rem rgb(90 97 105 / 12%), 0 0.125rem 0.1875rem rgb(90 97 105 / 10%);
}
.card-shadow-low{
  box-shadow: 0px 9px 26px rgba(0, 0, 0, 0.06) !important;
}

.progressbar{
  border-radius: 40px;
  height: 10px !important;
}