@use 'custom' as *;

// .carousels{  
//     width: 100%;
//     box-sizing: border-box;
//     display: flex;
//     align-items: center;
// }
// .carousel{
//     width: 100%;
// }

.carousel .carousel-cap{
    position: absolute;
    top: 98px;
    left: 500px;
    font-size: 30px;
}
.carousel .carousel-img{
    height: 489px !important;
}

.icon-arrow{
    background-color: $white;
    width: 53px;
    height: 53px;
    border-radius: 30px;
}