@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Poppins:wght@100;200;300;400;600;800&display=swap');


// Custom.scss
// Option A: Include all of Bootstrap


$theme-colors: (
  "primary":    #3187ED,
  "secondary":  #00C6D7,
  "danger":     #ea1a0b,
  "dark":       #000000,
  "info": #F8F8F8,
  
);
// 

// "light":      $light,
// "dark":       $dark
// "success":    $success,
// "info":       $info,
// "warning":    $warning,

// Include any default variable overrides here (though functions won't be available)

@import "../../node_modules/bootstrap/scss/bootstrap.scss";


// fountfamily
.popins{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: normal;
}
.popins-2{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 200;
}
.popins-3{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
}
.popins-6{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
}
.fs-16{
font-size: 16px;
}

.fs-24{
  font-size: 24px;
}
.fs-37{
  font-size: 30px;
}
.fs-48{
  font-size: 48px;
  line-height: 72px;
}
.fs-54{
  font-size: 54px;
}
.bs{
  font-weight: bold;
}
// Then add additional custom code here
.Danger{
  color: $danger;
}
// margin
.ml-5{
  margin-left: ($spacer * 1.45) !important;
}

.bg-color-gry{
  background-color: #E5E5E5;
}
.bg-color-primary{
  background-color: $primary;
}


