@use 'custom' as *;

.top{
    color: violet;
    background-color: $primary;
}
.top-notice{
    background-color: $primary;
    padding: 0 !important;
    height: 53px;
    color: $white;
}
.top-navbar{
    height: 120px;
}
.nav-buttonbg{
    background-color: $light;
    border-radius: 12px;
    margin-right: 5px;
}
.navbar-iterm3{
    padding-right: 5.5rem;
}
.navbar-iterm3 .nav-link{
    padding-right: 2.5rem !important;

}
.c-white{
    color: $white !important;
}

.c-white #basic-nav-dropdown{
    color: $white !important;
}
// search form

.top-navbar .search-form{
    background-color: $light;
    border: none;
    border-radius: 12px;
    width: 400px;
}
#search-btn{
    position: absolute;
    padding: 0;
    top: 10%;
    right: 5%;
    color: $primary;
}